package views

import "tp3/db"
import "fmt"
import "strconv"

templ IndexPage(temas []sqlc.Tema, usuarios []sqlc.Usuario, tarjetas []sqlc.Tarjeta) {
	@Layout() {
		<div class="grid">
			<!-- Columna 1: Temas -->
			<!-- <article> es el componente "card" de Pico -->
			<article>
				<!-- <header> es parte del marcado semántico de <article> -->
				<header><h2>Gestión de Temas</h2></header>
				@TemaForm()
				@TemaList(temas)
			</article>

			<!-- Columna 2: Usuarios -->
			<article>
				<header><h2>Gestión de Usuarios</h2></header>
				@UsuarioForm()
				@UsuarioList(usuarios)
			</article>

			<!-- Columna 3: Tarjetas -->
			<article>
				<header><h2>Gestión de Tarjetas</h2></header>
				@TarjetaForm(temas) //razon de por que le pasamos sqlc.temas 
				@TarjetaList(tarjetas)
			</article>
		</div>
	}
}